<form>
  <h2>Serie hinzufügen:</h2>
  <div class="mb-2">
    <label class="form-label" for="newShowID">ID:</label>
    <input
      class="form-control"
      id="newShowID"
      name="newShowID"
      type="number"
      placeholder="Hier die ID der Serie eingeben!"
    />
  </div>
  
  <div class="mb-2">
    <label class="form-label" for="newShowTitel">Titel:</label>
    <input
      class="form-control"
      id="newShowTitel"
      name="newShowTitel"
      type="string"
      placeholder="Hier den Serientitel eingeben!"
    />
  </div>
</form>
